/*
Project Name: Relaxr blog
Client: Relaxr
Author: Laura Reseigh
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    width: auto;
  	margin: auto;
    font-size: 24px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;

}

.container{
	width: 1060px;
  	margin: auto;
  	background-color: #f0f4f4;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */


header {
	background-color: #033048;
	width: 100%;
	height:100px;
	margin: 0;
	padding: 10px 0 0 0;
}

.logo-white{
  float: left;
  font-size: 34px;
  font-weight: 800;
  color: white;
  margin: 0 0 0 50px;
  padding-top: 1%;

}


.nav {
	float: right;
	padding: 20px;
	margin: 0 50px 0 0;
}

.nav li {
	display: inline;
	text-decoration: none;
	color: #f9e42e;
	font-size: 24px;
	font-weight: 600;
	margin: 0 10px 10px 0;
}
.nav a{
	text-decoration: none;
	color: #f9e42e;
}


.nav a:hover{
	color: white;

}


.blog-posts{
	width: 700px;
	float: left;
	margin: 40px 0 10px 50px;

}

h2{
	font-size: 40px;
	font-weight: 400;
	color: #033048;
	line-height: 1.25;
	margin-bottom: 10px;
}

p{
	font-size: 24px;
	font-weight: 300;
	color: #606161;
	line-height: 1.25;

}

p.introduction:first-letter {

	float: left;
	color: #606161;
	font-family: "Open Sans" sans-serif;
	font-weight: 600;
	font-size: 75px;
	line-height: 1;
	margin-right: 5px;

}

.readmore{
	float: right;
	font-size: 24px;
	font-weight: 600;
	color: #033048;
	margin: 20px 0;
}

.readmore a{
	color: #033048;
	text-decoration: none;

}

.readmore a:hover{
	background-color: #f9e42e;

}

hr {
	color: #033048;
	margin: 20px;
	width: 100%;
}

.sidebar{
	width: 240px;
	float: left;
	margin: 40px 50px 20px 20px;

}

.sidebar-nav a{
	color: #033048;
	text-decoration: none;

}

.sidebar-nav a:hover{
	background-color: #f9e42e;

}

h3 {
	font-size: 32px;
	font-weight: 800;
	color: #033048

}

.sidebar-nav{
	margin: 0 0 10px 0;


}


.about{

	font-size: 22px;
	font-weight: 300;
	color: #033048;
	margin-bottom: 10px;

}

.learn-more{
	font-size: 22px;
	font-weight: 600;
	color: #033048;
	margin-bottom: 20px;
}

.learn-more a{
	color: #033048;
	text-decoration: none;

}


.learn-more a:hover{
	background-color: #f9e42e;
}


.signup{
  background-color: #f9e42e;
  padding: 3%;
  clear:both;
}


.signup p{
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: white;
  border-radius: 5px;
  background-color: #033048;
  width: 150px;
  position: center;
  padding: 1%;
  margin: 0 auto;
  display: block;

}

.signup a{
  text-decoration: none;
  color: white
}

.signup a:hover{
  text-decoration: underline;
}

footer {
    background-color: #121212;
    text-align: center;
    margin: 0 auto;
    padding: 1%;

}

.logo-yellow{
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  padding-top: 20px;
}


footer img{
  margin: 1% 1% 2% 1%;

}


footer h4{
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1060px) {
    .blog-posts {width: 100%; float: none; overflow: auto;}
    .sidebar {width: 100%; float: none;}


